@import "vars";
@import "libs";
@import "global";

.header {
    position: relative;
    z-index: 1;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
}

.header__logo {
    margin-top: -10px;

    a {
        display: inline-block;
    }
}

.header__nav {
    display: inline-block;
    position: relative;
}

.header__nav-button,
.header__close-button {
    display: none;
}

.header__nav-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    &:hover {
        .header__link--sub {
            color: $black;
            background-color: $yellow;
            padding-bottom: 40px;
        }
        
        .header__submenu {
            padding: 0 45px 0 14px;
            background-color: $yellow;
            border-radius: 9px 9px;
            font-size: inherit;
        }
    }
}

.header__link {
    font-size: 15px;
    line-height: 33px;
    font-weight: 700;
    color: $white;
    padding: 4px 14px;
    margin-right: 6px;
    border-radius: 9px 9px;
    transition: all 0.5s;
  
    &:hover {
        color: $black;
        background-color: $yellow;
    }
}

.header__submenu {
    position: absolute;
    top: 45px;
    transition: all 0.3s;
    font-size: 0;

    a {
        display: inline-block;
        color: $black;
        padding: 15px 0;
        font-weight: 700;
        
        &:hover {
            color: $white;
        }
    }

    &-item {
        text-align: left;
    }
}

.header__cart {
    display: inline-block;
    vertical-align: middle;

    a {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 9px 9px;
        transition: all 0.5s;

        &:hover {
            background-color: $yellow;

            svg {
                fill: $black;
            }
        }
    }

    svg {
        fill: $white;
    }
}

.slider-top {
    position: relative;
    margin-top: -90px;
}

.slider__item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-color: $brown;
}

.slider__item > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 70px;
}

.slider__title {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    color: $white;
    margin-bottom: 25px;
}

.slider__text {
    position: relative;
    font-size: 28px;
    line-height: 33px;
    font-weight: 100;
    margin-bottom: 30px;
    color: $white;
    
    span {
        color: $yellow;
    }
}

.slider-arrow {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    stroke: $white;
    fill: transparent;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        fill: rgba($yellow, 0.5);
    }
}

.slider-arrow--left {
    left: 15px;
}

.slider-arrow--right {
    right: 15px;
}

.slider-dots__item {
    height: 2px;
    background-color: $grey;
}

.slider-dots {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 0;

    .slick-current {
        .slider-dots__item {
            background-color: $yellow;
            height: 4px;
        }
    }
}

.slick-track {
    margin: 0;
    transform: none !important;
}

.scroll-icon {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    fill: rgb(81, 80, 80);
    animation: change-fill 1.5s infinite;
}

@keyframes change-fill {
    to {
        transform: translateX(-50%) translateY(30px);
        fill: $yellow;
    }
}

.categories {
    background-image: url("../img/categories-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $lightgrey;
    text-align: center;
    padding: 75px 0 170px 0;

    &__title {
        font-size: 28px;
        line-height: 33px;
        font-weight: 700;
        margin-bottom: 75px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        width: 348px;
        padding: 130px 30px 100px 30px;
        min-height: 288px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: $grey;

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 1s;
            opacity: 0;
            background:linear-gradient(to right top, rgba($yellow, 0.17) 50%, transparent 50%);
          }
        
        &:hover:after {
            opacity: 1;
        }

        &--1 {
            background-image: url("../img/categories-1.jpg");
        }

        &--2 {
            background-image: url("../img/categories-2.jpg");
        }

        &--2 .categories__text {
            margin-bottom: 25px;
        }

        &--3 {
            background-image: url("../img/categories-3.jpg");
        }
    }

    &__name {
        font-size: 15px;
        line-height: 33px;
        font-weight: 700;
        color: $yellow;
    }

    &__text {
        font-size: 16px;
        line-height: 33px;
        font-weight: 300;
        color: $white;
    }

    &__button {
        position: relative;
        z-index: 10;
        background-color: transparent;
        border-color: $white;
        color: $white;

        &:hover {
            color: $black;
            border-color: $black;
            background-color: rgba($white, 0.5);
        }
    }
}

.popular {
    padding: 70px 0 35px 0;
    text-align: center;

    .container {
        max-width: 1874px;
    }

    &__title {
        font-size: 28px;
        line-height: 33px;
        font-weight: 700;
    }
    
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0 auto;
    }
}

.item {

    &__img img {
        width: 470px;
    }

    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        text-align: left;
    }

    &__name {
        font-size: 15px;
        line-height: 33px;
        font-weight: 700;
    }

    &__price {
        font-size: 15px;
        line-height: 23px;
        font-weight: 300;
    }

    &__buy {
        vertical-align: bottom;
    }

    &__options {
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        line-height: 23px;
        font-weight: 700;
        margin-right: 10px;
        padding: 12px 60px 12px 19px;
        border: 1px solid $middlegrey;
        border-radius: 9px 9px;
        appearance: none;
        outline: none;
        background-image: url("../img/arrow.png");
        background-repeat: no-repeat;
        background-position: 97px center;
       
        option {
            font-size: 12px;
            line-height: 23px;
            font-weight: 700;
        }
    }

    &__button {
        display: inline-block;
    }
}

.contact {
    text-align: center;
    padding: 65px 0;
    background-image: url("../img/contact-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 3px 0 7px 0 rgba($black, 0.03) inset;

    .container {
        max-width: 450px;
    }

    &__title {
        font-size: 28px;
        line-height: 33px;
        font-weight: 700;
        margin-bottom: 50px;
    }

    &__text {
        font-size: 15px;
        line-height: 33px;
        font-weight: 400;
        margin-bottom: 45px;
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__name,
    &__surname,
    &__email,
    &__message {
        font-size: 15px;
        line-height: 33px;
        font-weight: 400;
        font-style: italic;
        border: 1px solid $greyStroke;
        border-radius: 9px 9px;
        padding: 15px 15px 15px 25px;
        text-transform: uppercase;
    }

    &__name,
    &__surname {
        width: 47%;
        margin-bottom: 20px;
    }

    &__email,
    &__message,
    &__button {
        width: 100%;
        margin-bottom: 22px;
    }

    &__message {
        resize: none;
    }

    &__button {
        cursor: pointer;

        &:disabled {
            background-color: $greyDisabled;
            color: $white;
            border-color: $greyDisabled;

            &:hover {
                background-color: $greyDisabled;
                color: $white;
                border-color: $greyDisabled;
            }
        }
    }
}

.footer {
    padding: 10px 0;
    background-color: $yellow;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-item {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    &__link {
        color: $black;
        margin-left: 24px;
        padding: 10px;
        font-size: 15px;
        line-height: 33px;
        font-weight: 700;
        border-radius: 9px 9px;
        transition: all 0.5s;
  
        &:hover {
            color: $yellow;
            background-color: $black;
        }
    }
}

@media (max-width: 750px) {

    .header > .container {
        padding-top: 15px;
    }

    .header__logo {
        img {
            width: 120px;
        }
    }
    
    .header__nav-item {
    
        &:hover {
            .header__link--sub {
                padding-bottom: 25px;
            }
            
            .header__submenu {
                padding: 0 15px 0 4px;
                font-size: 12px;
                line-height: 15px;
            }
        }
    }

    .header__submenu {
        top: 25px;

        a {
            padding: 6px 0;
        }
    }
   
    .header__link {
        padding: 4px;
        font-size: 12px;
        line-height: 20px;
    }

    .header__cart {
        a {
            padding: 3px 7px;
        }

        svg {
            transform: scale(0.8);
        }
    }

    .slider__title {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .slider__text {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .slider-arrow {
        transform: scale(0.6) translateY(-80px);
    }

    .scroll-icon {
        transform: scale(0.8) translateX(-65%);
    }

    @keyframes change-fill {
        to {
            transform: scale(0.8) translateX(-65%) translateY(30px);
            fill: $yellow;
        }
    }

    .categories {
        padding: 45px 0 45px 0;

        &__title {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 45px;
        }

        &__items {
            flex-wrap: wrap;
        }

        &__item {
            margin: 0 auto;
            margin-bottom: 15px;
            width: 250px;
            padding: 80px 15px 60px 15px;
            min-height: 250px;
        }
    }

    .popular {
        padding: 40px 0 25px 0;

        &__title {
            font-size: 20px;
            line-height: 23px;
        }
    }

    .item {
        width: 392px;
    
        &__img {
            transform: scale(0.8) translateX(-50px);
        }

        &__name {
            font-size: 12px;
            line-height: 20px;
        }
    
        &__price {
            font-size: 12px;
            line-height: 20px;
        }

        &__options {
            margin-right: 5px;
            padding: 6px 35px 6px 14px;
            background-position: 70px center;
        }
    }

    .contact {
        padding: 35px 0;

        &__title {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 30px;
        }
        
        &__text {
            font-size: 12px;
            line-height: 23px;
            margin-bottom: 30px;
        }
    }

    .form {
        &__name,
        &__surname,
        &__email,
        &__message {
            font-size: 12px;
            line-height: 23px;
            padding: 10px 10px 10px 15px;
        }

        &__name,
        &__surname {
            margin-bottom: 10px;
        }

        &__email,
        &__message,
        &__button {
            margin-bottom: 12px;
        }
    }

    .footer {

        &__logo img {
            width: 90px;
        }
        
        &__link {
            margin-left: 10px;
            padding: 4px;
            font-size: 12px;
            line-height: 20px;
        }
    }
}

@media (max-width: 500px) {

    .header__nav {
        display: none;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: $white;
        padding-top: 50px;

        &-item {
            width: 100%;
        }
    }

    .header__nav-item {

        &:hover {
            .header__link--sub {
                background-color: $white;
                padding-bottom: 4px;
                
                &:hover {
                    background-color: rgba($yellow, 0.3);
                }
            }

            .header__submenu {
                padding: 0;
                border-radius: 0;
                background-color: $white;
            }
       }
    }

    .header__link { 
        display: inline-block;
        width: 100%;
        color: $black;
        border-radius: 0;
        transition: all 0.5s;

        &:hover {
            background-color: rgba($yellow, 0.3);
        }

    }

    .header__submenu {
        position: static;
        width: 100%;
        padding: 0 10px;
        font-size: inherit;
        font-size: 12px;
        line-height: 15px;

        a {
            text-align: center;
            display: inline-block;
            width: 100%;
            
            &:hover {
                color: $black;
                background-color: rgba($yellow, 0.3);
            }
        }
    }

    .header__nav-button {
        cursor: pointer;
        position: relative;
        order: -1;
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 10px;

        div {
            width: 30px;
            height: 2px;
            background-color: $white;
            transform: translateY(15px);
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: $white;
        }

        &::before {
            top: 4px;
        }

        &::after {
            bottom: 4px;
        }
    }

    .header__close-button {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 15px;
            left: -5px;
            width: 43px;
            height: 2px; 
            background-color: $black;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

    }

    .slider__title {
        font-size: 30px;
    }

    .slider__text {
        font-size: 17px;
        line-height: 20px;
    }

    .slider-arrow {
        transform: scale(0.4) translateY(-100px);
    }

    .item {

        width: 280px;
    
        &__img {
           transform: scale(0.6) translateX(-95px);
        }
    }

    .footer {

        &__logo img {
            width: 70px;
        }
        
        &__link {
            margin-left: 3px;
            padding: 3px;
            font-size: 8px;
            line-height: 15px;
        }
    }
}


@import "media";